
#top{
    width: 100%;
    text-align: right;
    margin: 0;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    width: 80%;
}
#mascota{
    display: flex;
    border-radius: 25px;
    position: absolute;
    right: 50%;
    transform: translate(50%);
}
#image{
    width: 250px;
    height: 250px;
    padding-right: 20px;
}
#desc{
    display: flex;
    flex-direction: column;
    width: 250px;
}
table img{
    width: 150px;
    height: 150px;
    padding-right: 50px;
}
